
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins ', sans-serif;
    height: 100vh;
    align-items: center; 
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
    font-family:Arial, Helvetica, sans-serif;

    
}

img {
    width: 70px;
}

h1 {
    text-align: center;
    background: rgb(238, 243, 245);
    padding: 100px;
    color: #187257;
    font-family:monospace
}

.encabezado {
    width: 100%;
    background: rgb(32, 151, 86);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px; /*este es para centrar un pooco el logo del menu y la imagen salchicha*/
    position:fixed; /*aqui colo    que la seccion del menu fijo*/
    z-index: 1000;
    /* padding-bottom: 20px;
    border-bottom: 1px solid; */

    
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.lista {
    display: flex;
    justify-content: space-between;
}

.itemm {
    padding: 20px 30px;
    color: white;
    
}
.itemm:hover {
    background: rgb(19, 119, 64);
    border-bottom: solid rgb(18, 13, 68);
}

.listItemm {
    position: relative;
}

.slideerr {
    position: absolute;
    display: none;
    top: 43px;
    background: #2b746d;
    width: 180px;
    z-index: 2;
} 

.listItemm:hover > .slideerr {
    display: block;
}
.slideerr li a {
    color: white;
    padding: 10px 20px;
    display: block;
}

.slideerr li a:hover {
    background: rgb(20, 126, 46);
}

#boton {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display:  none;
}

/*diseño del anterior menu con la foto*/
/* .header {
    background-image: linear-gradient(
        rgba(8, 8, 8, 0.507),
        rgba(23, 78, 23, 0.301)),
        url(images/fondo1.JPG);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 90vh;
    display: flex;
    align-items: center;
    text-align: justify;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    color: #FFFDFC;
        font-size: 25px;
        font-weight: 800;
}

.logo-img{
    width: 100px;

}


.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18xp;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #CE967B;

}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
    


}

.socials {
    display: flex;
  }
  
  .social {
    margin: 0 10px;
    height: 40px;
    width: 40px;
    border: 1px solid #b36335; 
    border-radius: 50%;
  }
  
  .social:hover {
    background-color: #5b4bb9;
  }
  
  .social img {
    margin: 10px 0 0 10px;
    width: 20px;
    height: 20px;
  }


.header-content {
    text-align: center;
}

.header-content h1 {
    font-size: 40px;
    line-height: 80px;
    color: #f7f7f7;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.header-content p {
    font-size: 16px;
    color: #ffffff;
    padding: 0 250px;
    margin-bottom: 0px;
    text-align: justify;
    font-weight: bold;
}

.btn-1{
    display: inline-block;
    padding: 11px 35px;
    background-color: #47be51;
    color: #eff2f3;
    text-transform: uppercase;
}

.btn-1:hover{
    background-color: #5cb5bb;
} */

/*AQUI COMINEZA MI SLIDER GIRATORIO*/

.carousel{
    height: 90vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 10%;
    width: 1140px;
    max-width: 70%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 40%;
    box-sizing: border-box;
    color: #FFF;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 4em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #f1683a;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

/*AQUI TERMINA MI SLIDER*/

/*AQUI COMINEZA MI SECCION DE PROGRAMAS*/
.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/fondo-programas.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 100px;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #c5c5c5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25px;
    margin-bottom: 10px;
}

.services-1 h3 {
    color: #eaccb3;
    font-size: 18px;
}
/*AQUI TERMINA MI SECCION DE PROGRAMAS*/

/*AQUI EMPIEZA LA SECCION DE QUIENES SOMO Y TALENTO HUMANO*/
.general {
    display: flex;

}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #e1e2e6;
}

.general-2 {
    background-image: url(images/quienessomos.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 34%;
    margin-left:auto;
    margin-right: auto;
}

.general-3 {
    background-image: url(images/talentohumano.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    margin-left:auto;
    margin-right: auto;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 45px 0;
}

/*AQUI TERMINA LA SECCION DE QUIENES SOMO Y TALENTO HUMANO*/

/*AQUI EMPIEZA LA SECCION DE TARJETA*/

.container-card{
	width: 100%;
	display: flex;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card button{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card button:hover{
	background: #2fb4cc;
	color: #fff;
}

.hedden-contenido-card P {
    line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
    text-align: center;
}

.hedden-contenido-card {
    display: none;
}



/*AQUI TERMINA LA SECCION DE TARJETA*/


/*AQUI COMIENZA MI GALERIA*/

h1 {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea {
    background: #550651;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria > a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.galeria img {
    width: 100%;
    vertical-align: top;
    height: 300px;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria a:hover img {
    filter: blur(2px);
    transform: rotate(10deg) scale(1.3);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) ;
}

.light-box img {
    width: 75vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1) ;
}

.close {
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: #851919;
    color: #FFF;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
}

.next {
    display: block;
    background: #851919;
    color: #FFF;
    text-decoration: none;
}   



/*AQUI TERMINA MI GALERIA*/
/*AQUI COMIENZA MI SECCION DE BLOCK*/

.blog {
    padding: 100px;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}

.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #182761;
}
/*AQUI TERMINA MI SECCION DE BLOCK*/

/*AQUI EMPIEZA SECCION DE CONTACTANOS-HORARIO*/

.horario {
    padding: 100px 0px;
    background-color: #06853ff6;
  }
  
  .horario-info h2 {
    font-size: 75px;
    color: #f8f8f8;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  
  .horario-txt {
    display: flex;
    justify-content: space-between;
  }
  
  
  .txt h4 {
    font-size: 18px;
    color: #351515;
    margin-bottom: 30px;
  }
  
  .txt p {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    color: #4e181891;
  }

 
/*AQUI TERMINA SECCION DE CONTACTANOS-HORARIO*/

/*AQUI EMPIEZA SECCION DE MAPA DE GOOGLE*/
  
  .map {
    filter: grayscale(20%) invert(92%) contrast(100%);
  }
/*AQUI TERMINA SECCION DE MAPA DE GOOGLE*/
  
/*aqui empiesa mi footer nuevo*/
.pie-pagina{
    width: 100%;
    background-color: #187257;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 150px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box a{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #2b746d;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
/*AQUI TERMINA MI SECCION DE FUUTER ULTIMA SECCION*/

/*AQUI EMPIEZA TODA LA PROGRAMACION PARA QUE SE VISUALICE MEJOR EN CELULARES Y TABLET*/

@media screen and (max-width:991px) {
    #boton {
        display: block;
    }
    .menuu {
        width: 350px;
        height: calc(40vh - 60px);
        background: #187257;
        position: absolute;
        top: 100px;
        left: -100%;
        transition: all 1s;

    }

    .lista {
        flex-direction: column;
    }

    .itemm {
        padding: 20px 30px;
        color: white;
    }
    .slideerr {
        position: relative;
        top: 0;
        /* display: block; */
        width: 100%;
    }
    .slideerr ul {
        position: 
        top 0;
        left: 0;
    }
    a {
        display: block!important;
        padding: 18px 35px !important;
    }

    .listItemm > .slideerr li a {
        margin-left: 20px;
    }
    .listItemm .slideerr li > ul li a {
        margin-left: 40px;
    }

    .listItemm:hover > .slideerr {
        display: none;
    }

    .listItemm .slideerr li:hover > ul {
        display: none;
    }



    /*aqui empiesa el respoint de mi slider*/

    .carousel .list .item .content {
        padding-right: 0;
    }
    .carousel .list .item .content .title {
        font-size: 30px; 
    }
    .carousel .list .item .content .topic {
        font-size: 30px;
    }
    
    .carousel .list .item .imgg {
        /* width: 100vw; */
        max-width: 100%;
    }

    /*aqui termina mi respoin de mi slider*/

/*AQUI EMPIESA SECCION DE PROGRAMAS*/
    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }
/*AQUI TERMINA SECCION DE PROGRAMAS*/


/*AQUI EMPIEZA SECCION DE TALENTO HUMANO Y SOBRE NOSOTROS*/
    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }
/*AQUI TERMINA SECCION DE TALENTO HUMANO Y SOBRE NOSOTROS*/ 

/*AQUI EMPIEZA SECCION DE TARJETAS*/

    .container-card{
        flex-wrap: wrap;
    }

    .card{
        margin: 15px;
    }

/*AQUI TERMINA SECCION DE TARJETAS*/

/*AQUI EMPIEZA MI GALERIA*/
    .galeria {
        grid-template-columns: repeat(auto-fit, minmax (200px, 1fr));
    }
    
    .close {
        top: 20px;
        right: 20px;
    }

/*AQUI TERMINA MI GALERIA*/

/*AQUI EMPIEZA SECCIONDEL BLOCK*/
    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }
/*AQUI TERMINA SECCIONDEL BLOCK*/

/*AQUI EMPIESA SECCION DE CONTACTANOS*/
    .horario {
        padding: 20px;
        text-align: center;
      }
    
      .horario-info h2 {
        font-size: 50px;
        margin-bottom: 15px;
      }
    
      .horario-txt {
        flex-direction: column;
      }
/*AQUI TERMINA SECCION DE CONTACTANOS*/

/*AQUI EMPIEZA ULTIMA SECCION FOOTER*/

      .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 2fr);
        grid-gap:30px;
        padding: 45px 0px;
    }
}